body {
	margin: 0;
	padding: 0;
	background-color: #202020;
}

#container {
	width: calc(100% - 60px);
	padding: 20px;
	color: #00FF33;
}

#center {
	display: block;
	text-align: center;
}

#logo {
	display: inline-block;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 0;
}

#logo-image {
	font-size: 2em;
	margin: 0;
}

#logo-text {
	font-size: 1em;
	margin-left: 5px;
}

#welcome {
	text-align: center;
	margin-bottom: 20px;
}

#welcome-text {
	color: #00b324;
	font-family: courier;
	max-width: 650px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

#notice {
	text-align: center;
	margin-bottom: 20px;
}

#nameNotice {
	color: #00b324;
	font-family: courier;
	max-width: 650px;
	//Shorthand for the 0/0/auto/auto properties used in welcome-text
	margin: 0 auto;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
	text-decoration: none;
	color: #00FF33;
        text-align: left;
        align-self: auto;
}

.link-text {
	font-size: 0.8em;
}


.link-text:hover {
	color: #FFA500;
}

.small-link {
	color: #FFA500;
}
